<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="error-message"></div>
<div class="checkout-information">

    <!-- ko if: (!isUserLoggedIn()) -->
    <div class="email-to">
    <div class="shipping-information-title">
        <span data-bind="i18n: 'Email:'"></span>
    </div>
    <div class="shipping-information-content">
        <p class="customer-error" style="display:none; color:red" data-bind="i18n: 'Please enter email'"></p>
        <form class="form form-account-form" id="account-form"  data-bind="attr: {'data-hasrequired': $t('* Required Fields')}" data-hasrequired="* Required Fields" >  
            <div class="field required">
                <label class="label" for="customer-email">
                    <span data-bind="i18n: 'Email Address'"></span>
                </label>
                <div class="control _with-tooltip">
                    <input class="input-text" type="email"  name="username" data-validate="{required:true, 'validate-email':true}" id="wp-customer-email" aria-required="true">
                </div>
            </div>
            </form>
        
    </div>
    </div>
    <!-- /ko -->
    <!-- ko if: (isRequiredShipping())-->
    <div class="ship-to">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Ship To:'"></span>
        </div>
        <div class="shipping-information-content">
             <!-- ko if: (isUserLoggedIn()) -->
             <!-- ko if: (Object.keys(customeraddresses()).length) -->
             <!-- ko foreach: {data: customeraddresses(), as: 'item'} -->
                <!-- ko foreach: {data: Object.keys(item), as: 'key'} -->
                    <div class="customer-shipping-address-radio-wrapper">
                            <input type="radio"  data-bind=" attr: {checked:item[key].default_shipping,'value': item[key].id,id: 'cus_address' + item[key].id},event:{ change: $parentContext.$parent.fetchShippingByAddress.bind(this,item[key]) }" name="shipping_address[gpay]" >                    
                                <label data-bind="attr: {for: 'cus_address' + item[key].id},i18n: item[key].inline"></label>                 
                    </div>
                 <!--/ko-->
               <!--/ko-->
               <button type="button" data-bind="click: showNewAddressForm
               " class="new-shipping action action-show-popup"><span data-bind="i18n: 'New Address'"> </span></button></br>
               <!-- /ko -->
               <!-- ko template: 'Sapient_Worldpay/wallets/new-address.html' --><!-- /ko -->
        <!--/ko-->
            
                    <!-- ko if: (!isUserLoggedIn()) -->
                        <!-- ko template: 'Sapient_Worldpay/wallets/new-address.html' --><!-- /ko -->
                    <!--/ko-->
        </div>
    </div>
    
    <div class="ship-via" data-bind="blockLoader: isLoadingShippingMethod">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Shipping Method:'"></span>
        </div>
        <div class="shipping-information-content">
                <p class="g-pay-ship-method-error" style="display:none; color:red" data-bind="i18n: 'Please select shipping method'"></p>
                <!-- ko if: (availableShippingMethods().length)-->
                    <!-- ko foreach: {data: availableShippingMethods(), as: 'item'} -->
                    <div class="shippingmethods-radio-wrapper">
                            <input type="radio"  data-bind="event:{ click: $parent.updateTotals.bind(this,item) },attr: {'value': item.id,id: 'gpay_ship_method' + item.id}" name="shipping_method[gpay]" >               
                            <label data-bind="attr: {for: 'gpay_ship_method' + item.id},i18n: item.description"></label>                 
                    </div>
                    <!-- /ko -->
            <!--/ko-->
            <!-- ko if: (availableShippingMethods().length == 0)-->
                <div class="shippingmethods-radio-wrapper">             
                    <label data-bind="text: 'Shipping method is not available'"></label>                 
            </div>
            <!-- /ko-->
        </div>
    </div>
    <!-- /ko -->
    <div class="bill-to">
        <div class="billing-information-title">
            <span data-bind="i18n: 'Billing Information:'"></span>            
        </div>
        <div class="billing-information-content">
            <p class="g-pay-billing-address-error" style="display:none; color:red" data-bind="i18n: 'Please select billing address'"></p>
             <!-- ko if: (isRequiredShipping()) -->
            <div class="billing-address-same-as-shipping-block field choice">
                <input type="checkbox" checked name="billing-address-same-as-shipping" data-bind="click: sameAsShippingAddress, attr: {id: 'billing-address-same-as-shipping-gpay'}" >
                <label data-bind="attr: {for: 'billing-address-same-as-shipping-gpay'}">
                    <span data-bind="i18n: 'My billing and shipping address are the same'"></span>
                </label>
            </div>
            <!-- /ko -->
            <!-- ko if: (!isBillingAddressSameAsShipping()) -->
                <!-- ko if: (isUserLoggedIn()) -->
                    <!-- ko foreach: {data: customeraddresses(), as: 'item'} -->
                        <!-- ko foreach: {data: Object.keys(item), as: 'key'} -->
                                <div class="customer-billing-address-radio-wrapper">
                                        <input type="radio"  data-bind="attr: {'value': item[key].id,id: 'cus_address_billing' + item[key].id},event:{ change: $parentContext.$parent.setBillingAddressFromExistingAddress.bind(this,item[key]) }" name="billing_address[gpay]" >                    
                                            <label data-bind="attr: {for: 'cus_address_billing' + item[key].id},i18n: item[key].inline"></label>                 
                                </div>
                        <!--/ko-->
                    <!--/ko-->
                    <button type="button" data-bind="click: showNewBillingAddressForm" class="new-billing action action-show-popup"><span data-bind="i18n: 'New Address'"> </span></button></br>
                    
                    <!-- ko if: (showNewBillingAddress())-->
                                 <!-- ko template: 'Sapient_Worldpay/wallets/new-billing-address.html' --><!-- /ko -->
                    <!-- /ko-->
                <!--/ko-->          
                <!-- ko if: (!isUserLoggedIn()) -->
                        <!-- ko template: 'Sapient_Worldpay/wallets/new-billing-address.html' --><!-- /ko -->
                <!-- /ko -->        
        <!-- /ko-->      
        </div>
    </div>

</div>
<div class="checkout-totals" data-bind="blockLoader: isLoadingCheckoutActions">
    <div class="totals-information">
        <div class="totals-segments" data-bind="html: totalsegments"></div>
    </div>    
    <!-- ko template: 'Sapient_Worldpay/wallets/discount.html' --><!-- /ko -->
</div>
<!--div class="checkout-actions">
     <button class="gpay-checkout" data-bind="click: preparePayment" type="button" data-role="action">
        <span  data-bind="i18n: 'Place Order'"></span>
    </button>
</div -->    