<div class="new-billingaddress-form">
    <form class="form form-billling-address" id="new-billingaddress-form" data-hasrequired="* Required Fields" >     
        <div id="billing-new-address-form" class="fieldset address">
                <div class="field _required"  name="address.firstname">    
                    <label class="label"><span data-bind="i18n: 'First Name'"></span></label>    
                    <div class="control" >
                        <input class="input-text" type="text"  name="firstname"  data-validate='{"required":true}'>
                    </div>
                </div>

                <div class="field _required"  name="address.lastname">    
                    <label class="label" ><span  data-bind="i18n: 'Last Name'"></span></label>    
                    <div class="control" >
                        <input class="input-text" type="text" name="lastname"  data-validate='{"required":true}' >
                    </div>
                </div>

                <div class="field"  name="address.company">    
                    <label class="label" ><span data-bind="i18n: 'Company'"></span></label>    
                    <div class="control" >
                        <input class="input-text" type="text" name="company">
                    </div>
                </div>

                    <fieldset class="field street admin__control-fields required" >
                        <legend class="label">
                            <span data-bind="i18n: 'Street Address'"></span>
                        </legend>
                        
                        <div class="field _required" name="address.street.0">    
                                <label class="label"><span data-bind="i18n: 'Street Address: Line 1'"></span></label>    
                            <div class="control" >      
                                <input class="input-text" type="text"  name="street[0]"  data-validate='{"required":true}' >
                            </div>
                        </div>

                        <div class="field additional" name="address.street.1">    
                            <label class="label" ><span data-bind="i18n: 'Street Address: Line 2'"></span></label>    
                            <div class="control" >        
                                <input class="input-text" type="text"  name="street[1]" aria-invalid="false">
                            </div>
                        </div>

                        <div class="field additional"  name="address.street.2">    
                            <label class="label"  ><span data-bind="i18n: 'Street Address: Line 3'"></span></label>    
                            <div class="control" >         
                                <input class="input-text" type="text"  name="street[2]" aria-invalid="false">
                            </div>
                        </div>        
                    </fieldset>

                   

                    <div class="field _required"  name="address.city">    
                        <label class="label"><span data-bind="i18n: 'City'"></span></label>    
                        <div class="control" >          
                            <input class="input-text" type="text"  name="city" aria-required="true"  data-validate='{"required":true}'>
                        </div>
                    </div>

                    <div class="field _required"  name="address.postcode">    
                        <label class="label"><span data-bind="i18n: 'Zip/Postal Code'"></span></label>    
                        <div class="control" >        
                            <input class="input-text" type="text"  id="billing_zip" name="postcode"  data-validate='{"required":true}'>
                        </div>
                    </div>

                    <div class="field _required"  name="address.telephone">    
                        <label class="label"><span data-bind="i18n: 'Phone Number'"></span></label>    
                        <div class="control _with-tooltip" >        
                            <input class="input-text" type="text"  name="telephone"  data-validate='{"required":true}' >             
                        </div>
                    </div>
                    <div class="field region required">
                        <label class="label"  ><span data-bind="i18n: 'State/Province'"></span></label>  
                        <div class="control">
                            <select id="billing_region_id" name="billing_region_id"  class="validate-select">
                                <option value="" data-bind="text: 'Please select a region, state or province.'"></option>
                            </select>
                            <input type="text" id="billing_region" name="billing_region" value=""  title="" 
                            class="input-text required-entry">
                        </div>
                    </div>

                    <div class="field _required" name="address.country_id">    
                        <label class="label" ><span data-bind="i18n: 'Country'"></span></label>    
                        <div class="control country-container" data-bind= "html: billingCountryHtml" >
                        </div>
                    </div>     
        </div>
    </form>
    
</div>