<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Sapient_Worldpay::config_worldpay" title="Extension worldpay" sortOrder="50" />
                            <resource id="Sapient_Worldpay::config_worldpay_exceptions" title="Extension worldpay exceptions" sortOrder="60" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>