<config>
    <default>
        <dev>
            <js>
            <minify_exclude>
                <hmacsha256>https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/hmac-sha256.js</hmacsha256>
                <encbase64>https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/enc-base64-min.js</encbase64>
            </minify_exclude>
            </js>
        </dev>
        <worldpay>
             <general_config>
                <enable_worldpay>0</enable_worldpay>
                <environment_mode>Test Mode</environment_mode>
                <test_url>https://secure-test.worldpay.com/jsp/merchant/xml/paymentService.jsp</test_url>
                <enable_dynamic3DS>0</enable_dynamic3DS>
                <enable_logging>0</enable_logging>
                <payment_method_selection>radio</payment_method_selection>
                <order_description>WorldPay Order</order_description>
            </general_config>
            <cc_config>
                <enabled>1</enabled>
                <title>Credit Cards</title>
                <paymentmethods>AMEX-SSL,VISA-SSL,ECMC-SSL</paymentmethods>
                <cse_enabled>0</cse_enabled>
                <require_cvc>1</require_cvc>
                <integration_mode>direct</integration_mode>
                <hpp_integration>full_page</hpp_integration>
                <saved_card>0</saved_card>
                <chromepay_enabled>1</chromepay_enabled>
            </cc_config>
            <apm_config>
                <enabled>1</enabled>
                <title>Alternative Payment Methods</title>
                <paymentmethods>PAYPAL-EXPRESS,GIROPAY-SSL</paymentmethods>
            </apm_config>
            <wallets_config>
                <title>Wallets</title>
                <google_pay_wallets_config>
                    <enabled>1</enabled>
                    <paymentmethods>AMEX,VISA,DISCOVER,JCB,MASTERCARD</paymentmethods>
                    <authmethods>PAN_ONLY,CRYPTOGRAM_3DS</authmethods>
                </google_pay_wallets_config>
            </wallets_config>
            <moto_config>
                <enabled>1</enabled>
                <title>Moto</title>
                <paymentmethods>AMEX-SSL,VISA-SSL,ECMC-SSL</paymentmethods>
            </moto_config>
            <custom_paymentpages>
                <enabled>0</enabled>
                <hideaddress>0</hideaddress>
            </custom_paymentpages>
            <order_cleanup>
                <enabled>0</enabled>
                <order_statuses>pending,pending_payment</order_statuses>
                <CHINAUNIONPAY_SSL_payment_method>24</CHINAUNIONPAY_SSL_payment_method>
                <IDEAL_SSL_payment_method>24</IDEAL_SSL_payment_method>
                <PAYPAL_EXPRESS_payment_method>24</PAYPAL_EXPRESS_payment_method>
                <YANDEXMONEY_SSL_payment_method>24</YANDEXMONEY_SSL_payment_method>
                <SOFORT_SSL_payment_method>24</SOFORT_SSL_payment_method>
                <GIROPAY_SSL_payment_method>24</GIROPAY_SSL_payment_method>
                <BOLETO_SSL_payment_method>24</BOLETO_SSL_payment_method>
                <ALIPAY_SSL_payment_method>24</ALIPAY_SSL_payment_method>
                <QIWI_SSL_payment_method>24</QIWI_SSL_payment_method>
                <SEPA_DIRECT_DEBIT_SSL_payment_method>24</SEPA_DIRECT_DEBIT_SSL_payment_method>
                <KlARNA_SSL_payment_method>24</KlARNA_SSL_payment_method>
                <PRZELEWY_SSL_payment_method>24</PRZELEWY_SSL_payment_method>
                <MISTERCASH_SSL_payment_method>24</MISTERCASH_SSL_payment_method>
                <AMEX_SSL_payment_method>24</AMEX_SSL_payment_method>
                <VISA_SSL_payment_method>24</VISA_SSL_payment_method>
                <ECMC_SSL_payment_method>24</ECMC_SSL_payment_method>
                <CB_SSL_payment_method>24</CB_SSL_payment_method>
                <CARTEBLEUE_SSL_payment_method>24</CARTEBLEUE_SSL_payment_method>
                <DANKORT_SSL_payment_method>24</DANKORT_SSL_payment_method>
                <DINERS_SSL_payment_method>24</DINERS_SSL_payment_method>
                <DISCOVER_SSL_payment_method>24</DISCOVER_SSL_payment_method>
                <JCB_SSL_payment_method>24</JCB_SSL_payment_method>
                <MAESTRO_SSL_payment_method>24</MAESTRO_SSL_payment_method>
            </order_cleanup>
        </worldpay>
        <payment>
            <worldpay_cc>
                <title>Credit Cards</title>
                <model>Sapient\Worldpay\Model\PaymentMethods\CreditCards</model>
                <active>1</active>
                <allow_specific>0</allow_specific>
                <payment_action>authorize</payment_action>
                <sort_order>10</sort_order>
                <require_cvc>1</require_cvc>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
            </worldpay_cc>
            <worldpay_cc_vault>
                <title>Credit Cards vault</title>
                <active>1</active>
                <sort_order>30</sort_order>
                <payment_action>authorize</payment_action>
                <model>WorldpayCreditCardVaultFacade</model>
                <instant_purchase>
                    <available>Sapient\Worldpay\Model\InstantPurchase\CreditCard\AvailabilityChecker</available>
                    <tokenFormat>Sapient\Worldpay\Model\InstantPurchase\CreditCard\TokenFormatter</tokenFormat>
                    <additionalInformation>Sapient\Worldpay\Model\InstantPurchase\PaymentAdditionalInformationProvider</additionalInformation>
                </instant_purchase>
            </worldpay_cc_vault>
             <worldpay_apm>
                <title>Alternative Payment methods</title>
                <model>Sapient\Worldpay\Model\PaymentMethods\AlternativePaymentMethods</model>
                <active>1</active>
                <allow_specific>0</allow_specific>
                <payment_action>authorize</payment_action>
                <sort_order>11</sort_order>
            </worldpay_apm>
            <worldpay_wallets>
                <title>Wallets</title>
                <model>Sapient\Worldpay\Model\PaymentMethods\Wallets</model>
                <active>1</active>
                <allow_specific>0</allow_specific>
                <payment_action>authorize</payment_action>
                <sort_order>11</sort_order>
            </worldpay_wallets>
            <worldpay_moto>
                <title>MOTO</title>
                <model>Sapient\Worldpay\Model\PaymentMethods\Moto</model>
                <active>1</active>
                <can_use_internal>1</can_use_internal>
                <allow_specific>0</allow_specific>
                <payment_action>authorize</payment_action>
                <sort_order>12</sort_order>
            </worldpay_moto>
        </payment>
    </default>
</config>
