<config>
    <default>
        <worldpay>
             <general_config>
                <enable_worldpay>0</enable_worldpay>
                <environment_mode>Test Mode</environment_mode>
                <test_url>https://secure-test.worldpay.com/jsp/merchant/xml/paymentService.jsp</test_url>
                <enable_logging>0</enable_logging>
                <payment_method_selection>radio</payment_method_selection>
                <order_description>WorldPay Order</order_description>
            </general_config>
            <cc_config>
                <enabled>1</enabled>
                <title>Credit Cards</title>
                <paymentmethods>AMEX-SSL,VISA-SSL,ECMC-SSL</paymentmethods>
                <cse_enabled>0</cse_enabled>
                <require_cvc>1</require_cvc>
                <integration_mode>direct</integration_mode>
            </cc_config>
            <prime_routing>
             <debit_networks>Accel,AFFN,CU24,Jeanie,NYCE,Pulse,Shazam,Star SouthEast,Star West,Star NorthEast</debit_networks>
            </prime_routing>
            <order_sync_status>
                <order_status>pending,processing,canceled,complete</order_status>
                <order_sync_interval>24</order_sync_interval>
            </order_sync_status>
            <tokenization>
                <saved_card>0</saved_card>
                <save_tokenization>0</save_tokenization>
                <enable_merchant_tokens>0</enable_merchant_tokens>
                <save_stored_credentials>0</save_stored_credentials>
                <configure_disclaimer>
                    <stored_credentials_disclaimer_message>
                        Information about save card for future usage will be displayed here as provided in disclaimer message section.
                        Please refer http://support.worldpay.com/support/kb/gg/stored-credentials-overview/ before constructing this message.
                    </stored_credentials_disclaimer_message>
                    <stored_credentials_message_enable>0</stored_credentials_message_enable>
                    <stored_credentials_flag>0</stored_credentials_flag>
                </configure_disclaimer>                
            </tokenization>
            <hpp_config>
                <hpp_integration>iframe</hpp_integration>
            </hpp_config>
            <wallets_config>
                <title>Wallets</title>
                <google_pay_wallets_config>
                    <enabled>0</enabled>
                    <paymentmethods>AMEX,VISA,DISCOVER,JCB,MASTERCARD</paymentmethods>
                    <authmethods>PAN_ONLY,CRYPTOGRAM_3DS</authmethods>
                </google_pay_wallets_config>
            </wallets_config>
            <chromepay_config>
                <chromepay_button_name>Buy Now</chromepay_button_name>
            </chromepay_config>
            <moto_config>
                <enabled>1</enabled>
                <title>Mail Order Telephone Order</title>
                <paymentmethods>AMEX-SSL,VISA-SSL,ECMC-SSL</paymentmethods>
            </moto_config>
            <apm_config>
                <enabled>0</enabled>
                <title>Alternative Payment Methods</title>
                <paymentmethods>PAYPAL-EXPRESS</paymentmethods>
            </apm_config>            
            <miscellaneous>
                <country_code_spoof>JE-GB,IM-GB</country_code_spoof>
                <global_currency_exponent>2</global_currency_exponent>
            </miscellaneous>
            <klarna_config>
                <klarna_countries_config>
                    <klarna_contries>SE,NO,FI,DE,AT,GB,DK,US,NL,CH</klarna_contries>
                </klarna_countries_config>
                <sliceit_config>
                    <klarna_sliceit>KLARNA_SLICEIT</klarna_sliceit>
                    <sliceit_contries>SE,NO,FI,DE,AT,GB,DK,US</sliceit_contries>
                </sliceit_config>
                <paylater_config>
                    <klarna_paylater>KLARNA_PAYLATER</klarna_paylater>
                    <paylater_contries>SE,NO,FI,DE,NL,AT,CH,GB,DK,US</paylater_contries>
                </paylater_config>
                <paynow_config>
                    <klarna_paynow>KLARNA_PAYNOW</klarna_paynow>
                    <paynow_contries>SE,DE,NL,AT</paynow_contries>
                </paynow_config>
            </klarna_config>
        </worldpay>
        <payment>
            <worldpay_cc>
                <title>Credit Cards</title>
                <model>Sapient\Worldpay\Model\PaymentMethods\CreditCards</model>
                <active>1</active>
                <allow_specific>0</allow_specific>
                <payment_action>authorize</payment_action>
                <sort_order>10</sort_order>
                <require_cvc>1</require_cvc>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_use_for_worldpay_subscription>1</can_use_for_worldpay_subscription>
            </worldpay_cc>
            <worldpay_cc_vault>
                <title>Credit Cards vault</title>
                <active>1</active>
                <sort_order>30</sort_order>
                <payment_action>authorize</payment_action>
                <model>WorldpayCreditCardVaultFacade</model>
                <instant_purchase>
                    <available>Sapient\Worldpay\Model\InstantPurchase\CreditCard\AvailabilityChecker</available>
                    <tokenFormat>Sapient\Worldpay\Model\InstantPurchase\CreditCard\TokenFormatter</tokenFormat>
                    <additionalInformation>Sapient\Worldpay\Model\InstantPurchase\PaymentAdditionalInformationProvider</additionalInformation>
                </instant_purchase>
                <can_use_for_worldpay_subscription>0</can_use_for_worldpay_subscription>
            </worldpay_cc_vault>
             <worldpay_apm>
                <title>Alternative Payment methods</title>
                <model>Sapient\Worldpay\Model\PaymentMethods\AlternativePaymentMethods</model>
                <active>1</active>
                <allow_specific>0</allow_specific>
                <payment_action>authorize</payment_action>
                <sort_order>11</sort_order>
                <can_use_for_worldpay_subscription>0</can_use_for_worldpay_subscription>
            </worldpay_apm>
            <worldpay_wallets>
                <title>Wallets</title>
                <model>Sapient\Worldpay\Model\PaymentMethods\Wallets</model>
                <active>1</active>
                <allow_specific>0</allow_specific>
                <payment_action>authorize</payment_action>
                <sort_order>11</sort_order>
                <can_use_for_worldpay_subscription>0</can_use_for_worldpay_subscription>
            </worldpay_wallets>
            <worldpay_moto>
                <title>MOTO</title>
                <model>Sapient\Worldpay\Model\PaymentMethods\Moto</model>
                <active>1</active>
                <can_use_internal>1</can_use_internal>
                <allow_specific>0</allow_specific>
                <payment_action>authorize</payment_action>
                <sort_order>12</sort_order>
                <can_use_for_worldpay_subscription>0</can_use_for_worldpay_subscription>
            </worldpay_moto>
        </payment>
    </default>
</config>
