<config>
    <default>
        <worldpay>
             <general_config>
                <enable_worldpay>0</enable_worldpay>
                <environment_mode>Test Mode</environment_mode>
                <test_url>https://secure-test.worldpay.com/jsp/merchant/xml/paymentService.jsp</test_url>
                <enable_logging>0</enable_logging>
                <payment_method_selection>radio</payment_method_selection>
                <order_description>WorldPay Order</order_description>
            </general_config>
            <cc_config>
                <enabled>1</enabled>
                <title>Credit Cards</title>
                <paymentmethods>AMEX-SSL,VISA-SSL,ECMC-SSL</paymentmethods>
                <cse_enabled>1</cse_enabled>
                <require_cvc>1</require_cvc>
                <integration_mode>direct</integration_mode>
            </cc_config>
            <prime_routing>
             <debit_networks>Accel,AFFN,CU24,Jeanie,NYCE,Pulse,Shazam,Star SouthEast,Star West,Star NorthEast</debit_networks>
            </prime_routing>
            <order_sync_status>
                <order_status>pending,processing,canceled,complete</order_status>
                <order_sync_interval>24</order_sync_interval>
            </order_sync_status>
            <level23_config>
                <unit_of_measure>each</unit_of_measure>
            </level23_config>
            <tokenization>
                <saved_card>0</saved_card>
                <save_tokenization>0</save_tokenization>
                <enable_merchant_tokens>0</enable_merchant_tokens>
                <save_stored_credentials>0</save_stored_credentials>
                <configure_disclaimer>
                    <stored_credentials_disclaimer_message>
                        Information about save card for future usage will be displayed here as provided in disclaimer message section.
                        Please refer http://support.worldpay.com/support/kb/gg/stored-credentials-overview/ before constructing this message.
                    </stored_credentials_disclaimer_message>
                    <stored_credentials_message_enable>0</stored_credentials_message_enable>
                    <stored_credentials_flag>0</stored_credentials_flag>
                </configure_disclaimer>
            </tokenization>
            <hpp_config>
                <hpp_integration>iframe</hpp_integration>
            </hpp_config>
            <wallets_config>
                <title>Wallets</title>
                <google_pay_wallets_config>
                    <enabled>0</enabled>
                    <paymentmethods>AMEX,VISA,DISCOVER,JCB,MASTERCARD</paymentmethods>
                    <authmethods>PAN_ONLY,CRYPTOGRAM_3DS</authmethods>
                </google_pay_wallets_config>
                <apple_pay_wallets_pdp_config>
                   <applepay_button_color>black</applepay_button_color>
                    <applepay_button_type>buy</applepay_button_type>
                    <applepay_button_locale>en-GB</applepay_button_locale>
                    <applepay_place_order_button_configuration>
                    <![CDATA[Place Order with Apple Pay]]>
                    </applepay_place_order_button_configuration>
                </apple_pay_wallets_pdp_config>
                <google_pay_wallets_pdp_config>
                    <gpay_place_order_button_configuration>
                    <![CDATA[Place Order with GooglePay]]>
                    </gpay_place_order_button_configuration>
                    <gpay_button_color>default</gpay_button_color>
                    <gpay_button_type>buy</gpay_button_type>
                    <gpay_button_locale>en</gpay_button_locale>
                </google_pay_wallets_pdp_config>
            </wallets_config>
            <chromepay_config>
                <chromepay_button_name>Buy Now</chromepay_button_name>
            </chromepay_config>
            <moto_config>
                <enabled>1</enabled>
                <title>Mail Order Telephone Order</title>
                <paymentmethods>AMEX-SSL,VISA-SSL,ECMC-SSL</paymentmethods>
            </moto_config>
            <apm_config>
                <enabled>0</enabled>
                <title>Alternative Payment Methods</title>
                <paymentmethods>PAYPAL-EXPRESS</paymentmethods>
                <sepa_mandate_types>ONE-OFF</sepa_mandate_types>
                <sepa_e_mandate>By signing this mandate form, you authorise (A) Worldpay to send instructions to your bank to debit your account and (B) your bank to debit your account in accordance with the instructions from Worldpay. As part of your rights, you are entitled to a refund from your bank under the terms and conditions of your agreement with your bank. A refund must be claimed within 8 weeks starting from the date on which your account was debited. Your rights are explained in a statement that you can obtain from your bank.</sepa_e_mandate>
                <statement_narrative>1</statement_narrative>
            </apm_config>
            <miscellaneous>
                <country_code_spoof>JE-GB,IM-GB</country_code_spoof>
                <global_currency_exponent>2</global_currency_exponent>
            </miscellaneous>
            <klarna_config>
                <klarna_countries_config>
                    <klarna_contries>SE,NO,FI,DE,AT,GB,DK,UK,NL,CH</klarna_contries>
                </klarna_countries_config>
                <sliceit_config>
                    <klarna_sliceit>KLARNA_SLICEIT</klarna_sliceit>
                    <sliceit_contries>SE,NO,FI,DE,AT,GB,DK,UK</sliceit_contries>
                </sliceit_config>
                <paylater_config>
                    <klarna_paylater>KLARNA_PAYLATER</klarna_paylater>
                    <paylater_contries>SE,NO,FI,DE,NL,AT,CH,GB,DK,UK</paylater_contries>
                </paylater_config>
                <paynow_config>
                    <klarna_paynow>KLARNA_PAYNOW</klarna_paynow>
                    <paynow_contries>SE,DE,NL,AT</paynow_contries>
                </paynow_config>
                <store_pickup>
                    <shipping_type>normal</shipping_type>
                    <shipping_method>store pick-up</shipping_method>
                </store_pickup>
            </klarna_config>
            <wp_error_alerts>
                <enable_error_alerts>0</enable_error_alerts>
                <send_email_to_worldpay>0</send_email_to_worldpay>
                <wp_team_email>adobe-technical@worldpay.com</wp_team_email>
            </wp_error_alerts>
            <paybylink_config>
                <paybylink_button_name>Pay By Link</paybylink_button_name>
                <paybylink_expiry_time>24</paybylink_expiry_time>
            </paybylink_config>
            <dynamic_capture_delay>
                <capture_delay>default</capture_delay>
                <capture_delay_custom_value>1</capture_delay_custom_value>
            </dynamic_capture_delay>
            <subscriptions>
                <recurring_order_buffer_time>5</recurring_order_buffer_time>
            </subscriptions>
            <payment_method_logo_config>
                <wallet>
                    <applepay_ssl>
                        <applepay_button_color>black</applepay_button_color>
                        <applepay_button_type>buy</applepay_button_type>
                        <applepay_button_locale>en-GB</applepay_button_locale>
                    </applepay_ssl>
                    <paywithgoogle_ssl>
                        <gpay_button_color>default</gpay_button_color>
                        <gpay_button_type>buy</gpay_button_type>
                        <gpay_button_locale>en</gpay_button_locale>
                    </paywithgoogle_ssl>
                </wallet>
            </payment_method_logo_config>
            <order_cleanup_cron>
                <order_cleanup_option>1</order_cleanup_option>
            </order_cleanup_cron>
            <restore_cart>
                <restore_cart_enable>1</restore_cart_enable>
            </restore_cart>
        </worldpay>
        <payment>
            <worldpay_cc>
                <title>Credit Cards</title>
                <model>Sapient\Worldpay\Model\PaymentMethods\CreditCards</model>
                <active>1</active>
                <allow_specific>0</allow_specific>
                <payment_action>authorize</payment_action>
                <sort_order>10</sort_order>
                <require_cvc>1</require_cvc>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_use_for_worldpay_subscription>1</can_use_for_worldpay_subscription>
                <can_use_for_worldpay_product_on_demand>1</can_use_for_worldpay_product_on_demand>
            </worldpay_cc>
            <worldpay_cc_vault>
                <title>Credit Cards vault</title>
                <active>1</active>
                <sort_order>30</sort_order>
                <payment_action>authorize</payment_action>
                <model>WorldpayCreditCardVaultFacade</model>
                <instant_purchase>
                    <available>Sapient\Worldpay\Model\InstantPurchase\CreditCard\AvailabilityChecker</available>
                    <tokenFormat>Sapient\Worldpay\Model\InstantPurchase\CreditCard\TokenFormatter</tokenFormat>
                    <additionalInformation>Sapient\Worldpay\Model\InstantPurchase\PaymentAdditionalInformationProvider</additionalInformation>
                </instant_purchase>
                <can_use_for_worldpay_subscription>0</can_use_for_worldpay_subscription>
                <can_use_for_worldpay_product_on_demand>0</can_use_for_worldpay_product_on_demand>
            </worldpay_cc_vault>
             <worldpay_apm>
                <title>Alternative Payment methods</title>
                <model>Sapient\Worldpay\Model\PaymentMethods\AlternativePaymentMethods</model>
                <active>1</active>
                <allow_specific>0</allow_specific>
                <payment_action>authorize</payment_action>
                <sort_order>11</sort_order>
                <can_use_for_worldpay_subscription>0</can_use_for_worldpay_subscription>
                <can_use_for_worldpay_product_on_demand>0</can_use_for_worldpay_product_on_demand>
            </worldpay_apm>
            <worldpay_wallets>
                <title>Wallets</title>
                <model>Sapient\Worldpay\Model\PaymentMethods\Wallets</model>
                <active>1</active>
                <allow_specific>0</allow_specific>
                <payment_action>authorize</payment_action>
                <sort_order>11</sort_order>
                <can_use_for_worldpay_subscription>0</can_use_for_worldpay_subscription>
                <can_use_for_worldpay_product_on_demand>0</can_use_for_worldpay_product_on_demand>
            </worldpay_wallets>
            <worldpay_moto>
                <title>MOTO</title>
                <model>Sapient\Worldpay\Model\PaymentMethods\Moto</model>
                <active>1</active>
                <can_use_internal>1</can_use_internal>
                <allow_specific>0</allow_specific>
                <payment_action>authorize</payment_action>
                <sort_order>12</sort_order>
                <can_use_for_worldpay_subscription>0</can_use_for_worldpay_subscription>
                <can_use_for_worldpay_product_on_demand>0</can_use_for_worldpay_product_on_demand>
            </worldpay_moto>
			<worldpay_paybylink>
                <title>Pay By Link</title>
                <model>Sapient\Worldpay\Model\PaymentMethods\PayByLink</model>
                <active>1</active>
                <allow_specific>0</allow_specific>
                <payment_action>authorize</payment_action>
                <sort_order>13</sort_order>
                <can_use_for_worldpay_subscription>0</can_use_for_worldpay_subscription>
                <can_use_for_worldpay_product_on_demand>0</can_use_for_worldpay_product_on_demand>
            </worldpay_paybylink>
            <worldpay_pending_order_cleanup>
                <order_cleanup_option>24</order_cleanup_option>
            </worldpay_pending_order_cleanup>
        </payment>
        <dev>
            <js>
               <minify_exclude>
                  <exclude_name>../chromepay/sw.js</exclude_name>
                </minify_exclude>
             </js>
        </dev>
    </default>
</config>
