<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
     <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>

        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">

        <form class="form" data-bind="attr: {'id': getCode() + '-form'}">
            <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
            <div class="field type required" data-bind="attr: {id: getCode() + '_cc_type_div'}">
                <!-- ko if: (paymentMethodSelection()=='radio')-->
                
                    <!-- ko foreach: {data: getCcAvailableTypesValues(), as: 'item'} -->
                    
                        <input type="radio"  data-bind="event:{ change: $parent.checkPaymentTypes },attr: {'value': item.ccValue, 'data-validate': JSON.stringify({
                                        'validate-one-required-by-name':true
                                                }),id: 'apm_' + item.ccValue}" name="apm_type" />
                       <!--ko if: $parent.getIcons(item.ccValue) -->
                            <label data-bind="attr: {for: 'apm_' + item.ccValue}"><img data-bind="attr: {
                                        'src': $parent.getIcons(item.ccValue).url,
                                        'alt': item.ccLabel,
                                        'width': $parent.getIcons(item.ccValue).width,
                                        'height': $parent.getIcons(item.ccValue).height
                                        }"></label>
                        <!--/ko-->
                        <!--ko ifnot: $parent.getIcons(item.ccValue) -->
                            <label data-bind="attr: {for: 'apm_' + item.ccValue}"><!-- ko text: item.ccLabel --><!-- /ko --></label>
                        <!--/ko-->
                    
                <!--/ko-->
                
            <!-- /ko -->
                <!-- ko if: (paymentMethodSelection()=='dropdown')-->
                    <select name="apm_type" class="select select-ccytpe"
                                            data-bind="
                                           attr: {id: getCode() + '_cc_type', 'data-container': getCode() + '-cc-type', 'data-validate': JSON.stringify({required:true})},
                                           options: availableCCTypes(),
                                           optionsText: 'ccLabel',
                                           value: selectedCCType,
                                            optionsValue: 'ccValue',
                                           optionsCaption: 'Select Your Payment Method',
                                           event:{ change: checkPaymentTypes }"></select>
                <!--/ko-->

            </div>
            <div class="field type required ideal-block" data-bind="visible: false">
            <select name="ideal_bank" class="select select-ccytpe" disabled
                    data-bind="attr: {id: 'ideal_bank', 'data-validate': JSON.stringify({required:true})},
                               options: getIdealBankList(),
                               optionsText: 'bankText',
                               value: selectedIdealBank,
                               optionsValue: 'bankCode',
                               optionsCaption: 'Select Your Bank'">
            </select>
        </div>
        <div class="field"></div>
        </fieldset>
        </form>

        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                            click: preparePayment,
                            attr: {title: $t('Place Order')},
                            css: {disabled: !isPlaceOrderActionAllowed()},
                            enable: (getCode() == isChecked())
                            "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>
