<!-- ko foreach: getSavedCardsList() -->
<div class="field savecc">
    <div class="control">
        <div class="paymentmethods-radio-wrapper">
        <input type="radio"
               name="payment[token_to_use]"
               id=""
               value=""
               class="checkbox"
               data-bind="value: token_code,
                   checked: $parent.paymentToken,
                   attr: {id: 'saved_card_' + id,
                   'data-validate': JSON.stringify({'required':true})}
               "/>
        
        <label class="label" for="wp_save_card" data-bind='attr: {for: "saved_card_" + id}'>
            <!--ko if: $parent.getIcons(method) -->
            <img data-bind="attr: {
                                    'src': $parent.getIcons(method).url,
                                    'alt': method,
                                    'width': $parent.getIcons(method).width,
                                    'height': $parent.getIcons(method).height
                                    }">
            <!--/ko-->
            <span data-bind="text: card_number"></span>, <span data-bind="text: card_expiry_month"></span><span data-bind="i18n: '/'"></span><span data-bind="text: card_expiry_year"></span>
        </label>
       
        <input type="hidden" name="card-type" id="card-type" data-bind="value: card_brand">
        <input type="hidden" name="bin_number" id="bin_number" data-bind="value: bin_number">
         </div>
    </div>
</div>

<!--/ko-->
<!-- ko if: (hasVerification() && getIntigrationMode() == 'direct')-->
<div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}">
    <label class="label" data-bind="attr: {for: getCode() + '_cc_cid'}">
        <span><!-- ko i18n: 'Card Verification Number'--><!-- /ko --></span>
    </label>
    <div class="control _with-tooltip">
        <input type="number"
               autocomplete="off"
               class="input-text cvv saved-cvv-number"
               name="payment[cc_cid]"
               value=""
               data-bind="attr: {id: getCode() + '_cc_cid',
                          title: $t('Card Verification Number'),
                          'data-container': getCode() + '-cc-cvv',
                          enable: isActive($parents),
                          value: SavedcreditCardVerificationNumber"
               />
        <div class="field-tooltip toggle">
            <span class="field-tooltip-action action-cvv"
                  tabindex="0"
                  data-toggle="dropdown"
                  data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
            </span>
            <div class="field-tooltip-content"
                 data-target="dropdown"
                 data-bind="html: getCvvImageHtml()"></div>
        </div>
    </div>
    <div class="mage-error" generated="true"  id="saved-cvv-error"></div>
</div>
<div class="field cpfNum required" data-bind="visible: (showCPFSection())">
    <label data-bind="attr: {for: getCode() + '_cpf'},visible: (showCPFSection())" class="label">
                    <span> CPF/CNPJ </span>
                    <!--            <span> ko i18n: 'CPF/CNPJ' /ko </span>-->
                </label>
                <div class="control">
                    <input type="number" style="width: 225px;" name="payment[cpf]" class="input-text" value=""   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_cpf',
                                    title: $t('CPF/CNPJ'),
                                    'data-container': getCode() + '-cpf-number',
                                    'data-validate': JSON.stringify({'required-number':true,
                                      'worldpay-validate-cpf-number': true})}, visible: (showCPFSection()) ,
                                    enable: isActive($parents),
                                    value: isCPF,
                                    valueUpdate: 'keyup'"
                           /> 
                </div>
            </div>
            <div class="field instalment required" style="width: 225px;" data-bind="visible: (showInstalmentSection())">
                <label data-bind="attr: {for: getCode() + '_instalment'},visible: (showInstalmentSection())" class="label">
                    <span> Instalment </span>
                    <!--           <span> ko i18n: 'Instalment' /ko </span>-->
                </label>  
                <div class="control" style=" width:225px;align:'center'">

                    <select name="payment[instalment]"
                            class="select select-instalment"
                            data-bind="visible: (showInstalmentSection()),
                                           attr: {id: getCode() + '_instalment', 
                                           'data-container': getCode() + '-instalment', 
                                           'data-validate': JSON.stringify({required:true})},
                                           enable: isActive($parents),
                                           options: availableInstalTypes(),
                                           optionsValue: 'instalValue',
                                           optionsText: 'instalccLabel',
                                           optionsCaption: $t('Instalment'),
                                           title: $t('Instalment'),
                                           value: selectedInstalment">
                    </select>
                </div>
            </div>
            <div class="field statementnarative required" style=" width:225px;"data-bind="visible: (showCPFSection() || showInstalmentSection())">
                 <label data-bind="attr: {for: getCode() + '_statement'},visible: (showCPFSection() || showInstalmentSection())" class="label">
                    <span> Purpose of transaction</span>
                    <!--            <span> ko i18n: 'Purpose of transaction' /ko </span>-->
                </label>  
                <input type="text" style="width: 225px;"  name="payment[statement]" class="input-text statement" value=""   
                       data-bind="visible: (showCPFSection() || showInstalmentSection()), attr: {
                                    autocomplete: off,
                                    id: getCode() + '_statement',
                                    title: $t('Purpose of transaction'),
                                    'data-container': getCode() + '-statement',
                                    'data-validate': JSON.stringify({required:true,
                                            'worldpay-validate-latm-desc':true
                                    })},
                                    enable: isActive($parents)
                       "/>  
            </div>
<!-- /ko -->

