<?xml version='1.0'?>
<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:noNamespaceSchemaLocation='urn:magento:framework:Event/etc/events.xsd'>
	<event name='sales_order_payment_refund'>
		<observer name='Sapient\Worldpay\Model\Observer\Refund' instance='Sapient\Worldpay\Model\Observer\Refund' />
  	</event>
    <event name='controller_action_postdispatch'>
		<observer name='Sapient\Worldpay\Model\Observer\Rirect' instance='Sapient\Worldpay\Model\Observer\Redirect' />
  	</event>
        
        <event name="sales_order_invoice_pay">
		<observer instance="Sapient\Worldpay\Observer\Backend\Sales\OrderInvoicePay" name="sapient_worldpay_observer_backend_sales_orderinvoicepay_sales_order_invoice_pay"/>
	</event>
        
        
</config>
