<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="worldpay" translate="label" type="text" sortOrder="401" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Worldpay</label>
            <tab>sales</tab>
            <resource>Sapient_Worldpay::config_worldpay</resource>
            <!--general configuration-->
            <group id="general_config" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable_worldpay" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Worldpay</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="environment_mode" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment Mode</label>
                    <source_model>Sapient\Worldpay\Model\Config\Source\EnvironmentMode</source_model>
                </field>
                <field id="test_url" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test URL</label>
                </field>
                <field id="live_url" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Live URL</label>
                </field>
                <field id="merchant_code" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant Code</label>
                    <validate>required-entry</validate>
                    <depends><field id="enabled">1</field></depends>
                </field>
                <field id="xml_username" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>XML Username</label>
                    <validate>required-entry</validate>
                    <depends><field id="enabled">1</field></depends>
                </field>
                <field id="xml_password" translate="label" type="password" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>XML Password</label>
                    <validate>required-entry</validate>
                    <depends><field id="enabled">1</field></depends>
                </field>
                <field id="enable_dynamic3DS" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Dynamic 3D Secure Override</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="do_3Dsecure" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Do 3D Secure authentication</label>
                    <depends><field id="enable_dynamic3DS">1</field></depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_logging" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="capture_automatically" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Capture Invoice Automatically</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="payment_method_selection" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Method Selection</label>
                    <source_model>Sapient\Worldpay\Model\Config\Source\PaymentMethodSelection</source_model>
                </field>
                <field id="order_description" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>                                        
                </field>
                <field id="enable_dynamic3DS2" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Dynamic 3DS2 Secure Override</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="jwt_event_url" translate="label" type="text" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>JWT Event URL</label>
                    <comment>For Live Use Cardinal Commerce URL, For Test Use  https://secure-test.worldpay.com</comment>
                    <depends><field id="enable_dynamic3DS2">1</field></depends>
                </field>
                <field id="jwt_api_key" translate="label" type="text" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>JWT Api key</label>
                    <depends><field id="enable_dynamic3DS2">1</field></depends>
                </field>
                <field id="jwt_issuer" translate="label" type="text" sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>JWT Issuer</label>
                    <depends><field id="enable_dynamic3DS2">1</field></depends>
                </field>
                <field id="organisational_unit_id" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Organisational Unit Id</label>
                    <depends><field id="enable_dynamic3DS2">1</field></depends>
                </field>
                <field id="test_ddc_url" translate="label" type="text" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test DDC URL</label>
                    <depends><field id="enable_dynamic3DS2">1</field></depends>
                </field>
                <field id="production_ddc_url" translate="label" type="text" sortOrder="27" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Production DDC URL</label>
                    <depends><field id="enable_dynamic3DS2">1</field></depends>
                </field>
                <field id="risk_data" translate="label" type="select" sortOrder="28" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Risk Data</label>
                    <depends><field id="enable_dynamic3DS2">1</field></depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="authentication_method" translate="label" type="select" sortOrder="29" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Authentication Method</label>
                    <depends><field id="enable_dynamic3DS2">1</field></depends>
                    <source_model>Sapient\Worldpay\Model\Config\Source\AuthenticationMethods</source_model>
                </field>
                <field id="test_challenge_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test Challenge URL</label>
                    <depends><field id="enable_dynamic3DS2">1</field></depends>
                </field>
                <field id="production_challenge_url" translate="label" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Production Challenge URL</label>
                    <depends><field id="enable_dynamic3DS2">1</field></depends>
                </field>
                <field id="challenge_preference" translate="label" type="select" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Challenge Preference</label>
                    <depends><field id="enable_dynamic3DS2">1</field></depends>
                    <source_model>Sapient\Worldpay\Model\Config\Source\ChallengePreference</source_model>
                </field>
                <field id="challenge_window_size" translate="label" type="select" sortOrder="33" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Challenge Window Size</label>
                    <depends><field id="enable_dynamic3DS2">1</field></depends>
                    <source_model>Sapient\Worldpay\Model\Config\Source\ChallengeWindowSize</source_model>
                </field>
            </group>
            <!--Credit Card-->
            <group id="cc_config" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Credit Cards</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="paymentmethods" translate="label" type="multiselect" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Methods</label>
                    <source_model>Sapient\Worldpay\Model\Config\Source\PaymentMethodsCC</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="cse_enabled" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Side Encryption Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cse_public_key" translate="label" type="textarea" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Public Key</label>
                </field>
                <field id="require_cvc" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Require CVC</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="integration_mode" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Integration Mode</label>
                    <source_model>Sapient\Worldpay\Model\Config\Source\IntegrationMode</source_model>
                </field>
                <field id="hpp_integration" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hosted Payment page Integration</label>
                    <source_model>Sapient\Worldpay\Model\Config\Source\HppIntegration</source_model>
                </field>
                <field id="saved_card" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Save Card</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="instant_purchase" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Instant Purchase</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                
                <field id="chromepay" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Chrome Pay</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="chromepay_button_name" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Chrome Pay Button Name</label>
                </field>
            </group>
            <!--APM-->
            <group id="apm_config" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Alternative Payment Method</label>
                <!--Apm enabled-->
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="paymentmethods" translate="label" type="multiselect" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Methods</label>
                    <source_model>Sapient\Worldpay\Model\Config\Source\PaymentMethodsApm</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
            </group>
            <!--Mobile Wallets-->
            <group id="wallets_config" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mobile Wallets</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <group id="google_pay_wallets_config" translate="label" showInDefault="1" showInWebsite="1" sortOrder="10">
                    <label>Google Pay</label>
                    <!--Google Pay  enabled-->
                    <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="paymentmethods" translate="label" type="multiselect" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Payment Methods</label>
                        <source_model>Sapient\Worldpay\Model\Config\Source\PaymentMethods</source_model>
                    </field>
                    <field id="authmethods" translate="label" type="multiselect" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Auth Methods</label>
                        <source_model>Sapient\Worldpay\Model\Config\Source\AuthMethods</source_model>
                    </field>
                    <field id="gateway_merchantname" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Merchant Name</label>
                    </field> 
                    <field id="gateway_merchantid" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>MerchantId</label>
                    </field>             
                </group>
            </group>
            <!-- MOTO -->
            <group id="moto_config" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>MOTO</label>
                <!--Apm enabled-->
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="paymentmethods" translate="label" type="multiselect" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Methods</label>
                    <source_model>Sapient\Worldpay\Model\Config\Source\PaymentMethodsCC</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
            </group>
            <group id="merchant_config" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Merchant Profile Override Configuration</label>
                <field id="merchant_profile" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant Profile Configuration</label>
                    <frontend_model>Sapient\Worldpay\Block\Adminhtml\Form\Field\MerchantProfile</frontend_model>
                    <backend_model>Sapient\Worldpay\Model\System\Config\Backend\Merchantprofile</backend_model>
                </field>
            </group>
            <group id="custom_paymentpages" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Payment Pages</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="installation_id" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Installation Id</label>
                </field>
                <field id="hideaddress" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide address</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="order_cleanup" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Cleanup</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="clean_order_status" translate="label" type="multiselect" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Clean Order With Status</label>
                    <source_model>Sapient\Worldpay\Model\Config\Source\OrderStatus</source_model>
                </field>
                <field id="CHINAUNIONPAY_SSL_payment_method" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Union pay</label>
                </field>
                <field id="IDEAL_SSL_payment_method" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Ideal</label>
                </field>
                <field id="PAYPAL_EXPRESS_payment_method" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Paypal express</label>
                </field>
                <field id="YANDEXMONEY_SSL_payment_method" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Yandex</label>
                </field>
                <field id="SOFORT_SSL_payment_method" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sofort</label>
                </field>
                <field id="GIROPAY_SSL_payment_method" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Giropay</label>
                </field>
                <field id="BOLETO_SSL_payment_method" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Boleto</label>
                </field>
                <field id="ALIPAY_SSL_payment_method" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Alipay</label>
                </field>
                <field id="QIWI_SSL_payment_method" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Qiwi</label>
                </field>
                <field id="SEPA_DIRECT_DEBIT_SSL_payment_method" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sepa</label>
                </field>
                <field id="KlARNA_SSL_payment_method" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Klarna</label>
                </field>
                <field id="PRZELEWY_SSL_payment_method" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>P24</label>
                </field>
                <field id="MISTERCASH_SSL_payment_method" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Mistercash</label>
                </field>
                <field id="AMEX_SSL_payment_method" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Amex</label>
                </field>
                <field id="VISA_SSL_payment_method" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Visa</label>
                </field>
                <field id="ECMC_SSL_payment_method" translate="label" type="text" sortOrder="19" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Master card</label>
                </field>
                <field id="CB_SSL_payment_method" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Carte Bancaire</label>
                </field>
                <field id="CARTEBLEUE_SSL_payment_method" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Carte Bleue</label>
                </field>
                <field id="DANKORT_SSL_payment_method" translate="label" type="text" sortOrder="22" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Dankort</label>
                </field>
                <field id="DINERS_SSL_payment_method" translate="label" type="text" sortOrder="23" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Diners</label>
                </field>
                <field id="DISCOVER_SSL_payment_method" translate="label" type="text" sortOrder="24" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Discover</label>
                </field>
                <field id="JCB_SSL_payment_method" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Japanese Credit Bank</label>
                </field>
                <field id="MAESTRO_SSL_payment_method" translate="label" type="text" sortOrder="27" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Maestro</label>
                </field>
            </group>
        </section>
    </system>
</config>
