@import url("https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css");

.checkout-payment-method .ccard .type .select,.checkout-payment-method .ccard .name .input-text { width: 225px; }
.checkout-payment-method .cvv .control .saved-cvv-number {width: 55px;} 
ul{
    list-style-type: none;
}

.payment-method._active {
    border: 1px solid #000;
    background-color: transparent;
}
.payment-method._active .payment-method-title {
    border-left: 0;
    border-right: 0;
}
.checkout-payment-method .payment-method-title {
    display: flex;
    align-items: center;
    padding: 10px 0;
    min-height: 43px;
}
.checkout-payment-method .payment-method._active .payment-method-title {
    border: 1px solid #000;
}
.payment-method-title > label {
    flex-basis: 28%;
    font-size: 17px;
}
.worldpay_cc_we_accept {
    margin-right: 10px;
    line-height: 30px;
    vertical-align: top;
    display: inline-block;
    font-size: 17px;
    min-width: 85px;
}
.accepted_cc {
    display: flex;
    align-items: center;
}
.accepted_cc .paymentoptions-icon-wrapper > div {
    display: inline-block;
    margin: 0 1px;
    margin-top: 8px;
}

.accepted_cc .paymentoptions-icon-wrapper > div > img {
max-width: 69px;
height: 30px;
vertical-align: middle;
}

.paymentmethods-radio-wrapper label img {
max-width: 69px;
max-height:30px;
}

.checkout-payment-method .payment-method+.payment-method .payment-method-title {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.payment-method._active .payment-method-title {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.checkout-payment-method .payment-method._active .payment-method-content {
    margin-top: 20px;
}

.payment-method-outer-content {
    margin: 20px;
}

.payment-method._active .payment-method-title .field choice {
     margin-left: 20px;
}
.checkout-payment-method .payment-method-title {
    border: 1px solid #000;
    border-bottom: none;
}
.checkout-payment-method .payment-method:last-child .payment-method-title {
    border-bottom: 1px solid #000;
}
.payment-method .radio {
    margin: 0px 15px 0 50px;
}
.checkout-payment-method {
    border: 1px solid #ccc;
}
.step-content {
    padding: 0 25px;
}
.checkout-payment-method .payment-method-content>.actions-toolbar>.primary .action.primary {
    margin-right: 30px;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 6px;
}
.checkout-payment-method .payment-method-content,.checkout-payment-method {
    padding: 0 0 20px 78px;
}
.paymentmethods-radio-wrapper {
    display: inline-block;
    margin-right: 8px;
    margin-top: 10px;
}
.paymentmethods-radio-wrapper input {
    display: inline-block;
    margin-right: 17px;
}
.paymentmethods-radio-wrapper label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
}
.ccnumber_withcardtype {
    position: relative;
}
span.cc-card-type {
    position: absolute;
    left: 228px;
    top: 0px;
}
.checkout-billing-address .fieldset .actions-toolbar {
    margin-right: 31px;
}
.payment-method .payment-method-cc-form .fieldset:last-child {
    margin-bottom: 5px;
}
.checkout-payment-method .checkout-billing-address .billing-address-details {
    padding-left: 0;
}
.payment-method-cc-form .payment_cc_number {
    background: url('../images/cc/cc-locker.png') transparent no-repeat top right;
    background-size: 30px;
}
.checkout-payment-method .field.cvv>.control .field-tooltip {
    left: 60px
}
.payment-method-cc-form .field-tooltip .field-tooltip-action:before {
    content: '';
    background: url('../images/cc/cc-cvc.png') transparent no-repeat top right;
    background-size: 30px;
    width: 30px;
    height: 30px;
}
.cc-card-type:before {
    background: url('../images/cc/credit-card-icons.png') no-repeat center center;
    border: 0 solid #cccccc;
    content: "";
    display: none;
    overflow: hidden;
    width: 44px;
    height: 21px;
    background-size: 339px 20px;
    position: relative;
    top: 5px;
    left: 5px;
}
.is_visa .cc-card-type:before {
    display: inline-block;
    background-position-x: -43px;
}
.is_dankort .cc-card-type:before {
    background: url('../images/cc/dankort-ssl.png') no-repeat center center;
    display: inline-block;
    background-position-x: 0;
}
.is_mastercard .cc-card-type:before {
    display: inline-block;
    background-position-x: 0;
}
.is_discover .cc-card-type:before {
    display: inline-block;
    background-position-x: -87px;
}
.is_amex .cc-card-type:before {
    display: inline-block;
    background-position-x: -131px;
}
.is_unionpay .cc-card-type:before {
    display: inline-block;
    background-position-x: -177px;
}
.is_jcb .cc-card-type:before {
    display: inline-block;
    background-position-x: -298px;
}
.is_diners .cc-card-type:before {
    display: inline-block;
    background-position-x: -214px;
}
.is_maestro .cc-card-type:before {
    display: inline-block;
    background-position-x: -256px;
}

.payment-titlelogo-wrapper {
    display: flex;
    padding:10px;
}
.payment-applepay-checkout {
    width: 30%;
 /*   float: left;
    display: inline;*/
 }
.payment-method-outer-content .payment-applepay-checkout {
    width: 30%!important;
}
.payment-title-wrapper .step-title {
    margin: 0;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}
.payment-title-wrapper p {
    font-style: italic;
    padding: 0;
    margin-bottom: 23px;
}
.payment-logo-wrapper {
    margin: 0 auto;
    width:60%;
}
.payment-logo-wrapper img {
    width: 180px;
    max-width: 180px;
    display: block;
    margin-left: auto;
}
.ach-block {
   font-weight: 600; 
}
.payment-method .paymentmethods-radio-wrapper .mage-error[generated] {
    position: absolute;
    margin-top: 0px;
}

/* Custom select */
.payment-method [type="radio"]:checked, .payment-method [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.payment-method [type="radio"]:checked + label, .payment-method [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    margin-left: 35px;
}
.payment-method [type="radio"]:checked + label:before, .payment-method [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 13px;
    height: 13px;
    border: 1px solid #ed0b02;
    border-radius: 100%;
    background: #fff;
}
.payment-method [type="radio"]:checked + label:after, .payment-method [type="radio"]:not(:checked) + label:after {
    width: 9px;
    height: 9px;
    background: #ed0b02;
    position: absolute;
    top: 8px;
    left: 3px;
    border-radius: 100%;
    content: "";
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.payment-method [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.payment-method [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.payment-method [type="radio"]:focus + label:before {
    outline: 1px dotted #ed0b02;
}
.payment-method .payment-method-content [type=radio]:checked + label, .payment-method .payment-method-content [type=radio]:not(:checked) + label {
    padding-left: 32px;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}
.payment-method .payment-method-content [type=radio]:checked + label:before, .payment-method .payment-method-content [type=radio]:not(:checked) + label:before {
    width: 13px;
    height: 13px;
    top: 6px;
}
.payment-method .payment-method-content [type=radio]:checked + label:after, .payment-method .payment-method-content [type=radio]:not(:checked) + label:after {
    width: 9px;
    height: 9px;
    top: 9px;
}
.payment-method .payment-method-content [type=radio]:checked + label:after {
    background: #ed0b02;
}
.payment-method .payment-method-content [type="radio"]:focus + label:before {
    outline: 1px dotted #ed0b02;
}

#wp-google-pay {
    width: 100%;
    margin-bottom : 10px;
}
#gpay-checkout-container{
    width: 36%;
}
#wp-google-pay-btn{
    width: 94% !important;
    margin-bottom: 10px;
}
.gpay-card-info-container{
    min-width: 100%!important;
}
.payment-method-outer-content .wp-payment-method-wallets{
    display: inline-flex;
    width: 100%;
}
.gpay-card-info-container{
    min-width:140px;
}
button.gpay-button:hover,
button.gpay-button:focus,
button.gpay-button:active{
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.payment-title-wrapper{
    margin-top: auto;
    width: 40%;
}
.payment-title-wrapper-multishipping{
    margin-top: auto;
    width: 40%;
}
.payment-samsungpay-checkout button{
    margin-left:10px;
}
.payment-samsungpay-checkout fieldset{
    border:0;
    padding-top: 0;
    padding-bottom: 15px;
}
.wp-pay-by-link {
    width: 100%;
    margin-bottom: 20px;
    text-align: right;
}
.wp-pay-by-link button{
    height: 40px;
    width: 180px;
}
.multishipping-paybylink-button{
    padding: 7px 15px !important;
}
.payment-samsungpay-checkout{
    width: 30%;
}
.payment-samsungpay-checkout fieldset{
    width: 100%
}
.payment-method-outer-content #wp-samsung-pay-btn button{
    height:40px;
    width: 100%;
}
li#payment.checkout-payment-method {
    padding: 0px;
}

.label-saved-card{
    padding-left: 32px;
    height: 30px;
    display: table-cell !important;
    background-image: none;
    background: #1979c3;
    border: 1px solid #1979c3;
    color: #fff;
    cursor: pointer;   
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 6px;
 }
 
 .checkout-disclaimer{
     cursor: pointer;
 }
 #checkout-payment-worldpay-alert-message{
    margin: 0 40px 8px 0px;
    padding: 10px 10px 10px 10px;
    display: block;
    line-height: 1.2em;
    font-size: 1.3rem;
    background: #fdf0d5;
    color: #6f4400;
 }
.multicheckout .box-billing-method .fieldset .legend.box-title{
	display:flex;
}
/* Custom select */
@media only screen and (max-width: 600px) {
    .wp-pay-by-link button{
        margin-left: 0px !important;
    }
  }
@media only screen and (max-width: 768px) {
    .multicheckout .box-billing-method .fieldset .legend.box-title {
        display: block !important;
    }
    .payment-logo-wrapper img {
        margin-right: auto;
        margin-bottom: 5px;
    }
    .payment-title-wrapper .step-title, .payment-title-wrapper p {
        text-align: center;
    }
    .multicheckout .payment-title-wrapper {
        text-align: center !important;
    }
    .multicheckout .payment-logo-wrapper {
        padding-top: 10px;
    }
    .multicheckout .actions-toolbar>.primary {
        margin-right: 10px;
        margin-left: 10px;
    }
    .wp-pay-by-link {
        display: flex;
        margin-bottom: 10px;
    }
    .multicheckout .block-billing .box-billing-method {
        width: 100%  !important;
        padding-right: 0 !important;
    }
    .multishipping-checkout-billing .wp-actions-toolbar, .multishipping-checkout-billing .checkout-payment-giftcardaccount{
        padding: 10px 10px 10px 10px;
    }
    .payment-title-wrapper-multishipping{
        margin-left: 10px;
        width:100%;
    }
    .multicheckout .block-content .box:last-child{
        width:76%;
    }
    .multishipping-checkout-billing .payment-logo-wrapper{
        width: 100%;
    }
    .multicheckout .block-billing .box-billing-address {
        width: 100% !important;
        padding-left:0px !important;
    }
    .multicheckout .box-title span{
        margin-left: 0px !important;
    }
    .multicheckout .box-title span.security-title, .multicheckout .box-title .payment-title-wrapper span, .multicheckout .box-content .payment-title-wrapper .step-title, .multicheckout .box-content .checkout-payment-giftcardaccount .note, .multicheckout .box-title span.billing-mark{
        margin-left: 5px !important;
    }
    .multicheckout label[for=p_method_worldpay_cc], .multicheckout label[for=p_method_worldpay_wallets], .multicheckout label[for=p_method_worldpay_apm]{
        width: 100% !important;
    }
    .multicheckout .box-content .order-review-wrapper {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
    .wp-price-block td{
        width: 100% !important;
    }
    .wp-price-block th{
        display: none !important;
    }
    .gpay-card-info-container {width: 100%;}
    .payment-logo-wrapper{
        display: inline-block;
        width:100%;
    }
    .payment-titlelogo-wrapper {
        display: block !important;
    }
    .payment-title-wrapper{
        width:100%;
    }
    .multicheckout .box-title .payment-title-wrapper {
        width: 100% !important;        
    }
    .payment-applepay-checkout{
        width:100%;
    }
    .payment-method-outer-content .wp-payment-method-wallets{
        display: unset;
    }
    .payment-method-outer-content .wp-payment-method-wallets div{
        margin-left: 0;
    } 
    #gpay-checkout-container{
       width: 100%;
    }
    #wp-google-pay-btn, .payment-applepay-checkout, .payment-samsungpay-checkout{
        clear:both;
    }
    .payment-method-outer-content #wp-google-pay-btn {
        width: 100% !important;
    }
    .samsungpay-payment{
        width: 100% !important;
        height: 40px !important;
    }
   .payment-method-outer-content .payment-applepay-checkout{
        width: 100%!important;
    }
    .payment-method-outer-content .payment-samsungpay-checkout{
        width: 100%!important;
    }
    .payment-method-outer-content #wp-samsung-pay-btn fieldset{
        padding-right: 0;
    }
    .payment-samsungpay-checkout{
        padding-top:10px;
    }
    .payment-samsungpay-checkout button{
        margin-left:0;
    }
    #wp-google-pay-btn iframe{
        margin-left: auto;
    }
    .payment-samsungpay-checkout fieldset{
        border:0;
        padding-top: 0;
        padding-bottom: 15px;
        padding-left:0;
    }
    .wp-pay-by-link button{
        width: 60%;
        margin-left: 0;
    }
    .wp-price-block .table > tbody > tr > th, .wp-price-block .table > tbody > tr > td{        
        padding:5px 5px 7px 0px !important;
    }
    
}

@media only screen and  (min-width: 768px) and (max-width: 820px) {    
    .wp-price-block td{
        width: 100% !important;
    }
    .multicheckout .box-title span, .multicheckout .box-title span.security-title{
        margin-left: 0px !important;
    }
    .multicheckout label[for=p_method_worldpay_cc], .multicheckout label[for=p_method_worldpay_wallets], .multicheckout label[for=p_method_worldpay_apm]{
        width: 100% !important;
    }
    .gpay-card-info-container {width: 100%;}

    .payment-logo-wrapper{
        display: inline-block;
        width:50%;
    }
    .payment-title-wrapper {
        width: 50% !important;
        margin-top: auto;
        margin-bottom: auto;
    }
    .worldpay-multishipping .multicheckout .payment-logo-wrapper{
        display: block !important;
    }
    .payment-logo-wrapper img {
        margin-right: 0px !important;
        margin-bottom: 5px;
    }
    .payment-applepay-checkout{
        width:100%;
    }
    .wp-pay-by-link {
        display: block !important;
        width: 96% !important;
    }
    .payment-title-wrapper .step-title {
        padding: 13px 0 !important;
    }
    #wp-google-pay-btn, .payment-applepay-checkout, .payment-samsungpay-checkout{
        clear:both;
    }
    .samsungpay-payment{
        width: 100% !important;
        height: 40px !important;
    }
    .payment-samsungpay-checkout{
        padding-top:0px;
    }
    .payment-samsungpay-checkout button{
        margin-left:0;
    }
    .payment-samsungpay-checkout fieldset{
        border:0;
        padding-top: 0;
        padding-bottom: 15px;
        padding-left:0;
    }

    .payment-applepay-checkout{
        width:100%;
    }
    .payment-method-outer-content .wp-payment-method-wallets{
        flex-wrap: wrap;
    }
    .payment-method-outer-content .wp-payment-method-wallets div{
        margin-left: 0;
    } 
    .wp-payment-method-wallets > * {
        padding-left: 7px;
        padding-top: 10px;
    }
    #gpay-checkout-container {
        width: 48%;
    } 
    .payment-method-outer-content #wp-google-pay-btn {
        width: 100% !important;
    }
   .payment-method-outer-content .payment-applepay-checkout{
        width: 48%!important;
    }
    .payment-method-outer-content .payment-samsungpay-checkout{
        width: 48%!important;
    }
    .payment-method-outer-content #wp-samsung-pay-btn fieldset{
        padding-right: 0;
    }
    #wp-google-pay-btn iframe{
        margin-left: auto;
    }
    .wp-pay-by-link button{
        margin-left: 0px;
        width: 180px;
        max-width: 180px;
        margin-right: 15px;
    }  
    .wp-pay-by-link{
        margin-left: 15px;
    } 
    .multishipping-paybylink-button{
        margin-left: 180px;
    }
    .worldpay-multishipping .multicheckout .block-billing .box-billing-method{
        padding-top: 0px !important;
    }
}

/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .wp-pay-by-link {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 82px;
      }
}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .wp-pay-by-link {
        width: 100%;
        margin-bottom: 10px;
    }
    .multicheckout .wp-pay-by-link {
        width: 100%;
        margin-bottom: 0px;
    }

}

@media screen and (min-width: 900px) {    
    .payment-logo-wrapper img {
        margin-bottom:5px;   
    }
    .multicheckout .wp-pay-by-link {
        width: 100%;
    }
    .multicheckout .wp-pay-by-link span {
        font-weight: 600 !important;
        font-size: 1.4rem !important;
    }
    .multicheckout .worldpay-methods .payment-title-wrapper {
        margin: auto !important;
    }
}

@media screen and (max-width: 980px) {
    .payment-logo-wrapper img {
        margin-right: auto;
    }    
    .wp-pay-by-link {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
        width: 100% !important;
    }
    #wp-samsung-pay-btn a{
        padding-left: 0 !important;
    }
    .samsungpay-payment{
        padding: 0 !important;
    }
    .payment-titlelogo-wrapper {
        display: flex;
        margin: 0 10px;
    }
    .multicheckout .box-billing-method .fieldset .legend.box-title{
        display: block;
    }
    .payment-title-wrapper .step-title {
        padding: 5px 0;
    }
    .payment-title-wrapper p {
        margin-bottom: 10px;
    }
    .payment-method-title > label {
        flex-basis: auto;
    }
    .checkout-payment-method .payment-method .payment-method-content {
        margin: 0;
        padding: 10px 25px;
    }
    .paymentmethods-radio-wrapper input {
        display: inline-block;
        margin-right: 7px;
    }
    .checkout-billing-address .fieldset .actions-toolbar {
        margin-right: 0;
    }
    .checkout-payment-method .payment-method._active .payment-method-content {
        margin-top: 0px;
    }
    .payment-method .radio {
        margin: 0px 15px 0 24px;
    }
    .checkout-payment-method .payment-method-content>.actions-toolbar>.primary .action.primary {
        margin-top: 10px;
        margin-right: 0;
    }
    .accepted_cc {
        visibility: hidden;
        display: none;
    }
    .checkout-payment-method .payment-method-content {
        padding: 0 0 20px 48px;
    }
}

.payment-samsungpay-checkout{
    width: 30%;
}
.payment-samsungpay-checkout fieldset{
    width: 100%
}
.payment-method-outer-content #wp-samsung-pay-btn button{
    height:40px;
    width: 100%;
}
li#payment.checkout-payment-method {
	padding: 0px;
}
/* Multishipping Checkout page CSS */
.multicheckout .box-title span {
    margin: 0;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}
.multicheckout legend.box-title{
	border:none;
}
.multicheckout .box-title span.security-title{
	font-weight: normal;
	font-style: italic;
    padding: 0;
	font-size:14px;
}

.multicheckout .box-billing-method img.worldpay-logo-paymentscreen {
    width: 180px;
    max-width: 180px;
    display: block;
    margin-left: auto;
}
.multicheckout .box-billing-method .fieldset .legend.box-title{
	display:flex;
    width: 100%;
}
.multicheckout .box-title .payment-title-wrapper {
    width: 40%;
    float: left;
}
.worldpay-multishipping .multicheckout .block-billing .box-billing-method{
	border: 1px solid #ccc;
	padding-bottom:25px;
	padding-right: 25px;
	width:63%;
    padding-top:20px;
}
.multicheckout .block-billing .box-billing-address{	
	width:35%;
    padding-left: 30px;
}
.multicheckout .box-billing-method .fieldset{
	margin: 0;
    padding: 0;
}
.worldpay-multishipping .multicheckout .checkout-payment-method dt.item-title, .worldpay-multishipping .multicheckout .block-billing .box-billing-method .customerbalance{
	border: 1px solid #000;
	margin-bottom:0;
	display: flex;
    align-items: center;
    padding: 10px 0;
    min-height: 43px;
}
.multicheckout .legend{
	border-bottom:none;
}
.multicheckout .box-billing-method hr{
	margin-top:40px;
}
.multicheckout .checkout-payment-method .worldpay_cc_we_accept{
    margin-right: 10px;
    line-height: 30px;
    vertical-align: top;
    display: inline-block;
    font-size: 15px;
    min-width: 85px;
    padding-left: 20px;
	font-weight:normal;
}
dd:empty {
    background-color: tomato !important;
}
.multicheckout .checkout-payment-method .worldpay-ms{
	border: 1px solid #000;
	background-color: transparent;
	margin:0;
	padding:15px 40px 15px 31px;
}
.multicheckout .checkout-payment-method dd.item-content{
	margin:0;
}
.multicheckout .checkout-payment-method dt.item-title label{
	font-size: 17px;
	font-weight:normal;
	margin-left:15px;
}
.multicheckout .payment-method._active{
	border:none;
}
.multicheckout .checkout-payment-method .payment-method-content{
	padding:0;
}
.multicheckout .checkout-payment-method .accepted_cc{
	width: 70%;
}
.multicheckout .customerbalance .payment label{
	font-size:17px;
	padding-left:17px;
}
.multicheckout .checkout-payment-method .payment-method-content{
	padding: 0 0 0px 25px;
}
.multicheckout .payment-method-content fieldset.fieldset{
	padding: 0 18px;
	margin:0;
}
.multicheckout .block-billing .box-billing-method .customerbalance{
	padding-left:35px;
}
.multicheckout .checkout-payment-method .payment-method._active .payment-method-content {
    margin-top: 10px;
}
/* Custom select */
.multicheckout .checkout-payment-method [type="radio"]:checked, .multicheckout .checkout-payment-method [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.multicheckout .checkout-payment-method [type="radio"]:checked + label, .multicheckout .checkout-payment-method [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    margin-left: 35px;
}
.multicheckout .checkout-payment-method [type="radio"]:checked + label:before, .multicheckout .checkout-payment-method [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 13px;
    height: 13px;
    border: 1px solid #ed0b02;
    border-radius: 100%;
    background: #fff;
}
.multicheckout .checkout-payment-method [type="radio"]:checked + label:after, .multicheckout .checkout-payment-method [type="radio"]:not(:checked) + label:after {
    width: 9px;
    height: 9px;
    background: #ed0b02;
    position: absolute;
    top: 8px;
    left: 3px;
    border-radius: 100%;
    content: "";
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.multicheckout .checkout-payment-method [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.multicheckout .checkout-payment-method [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.multicheckout .checkout-payment-method [type="radio"]:focus + label:before {
    outline: 1px dotted #ed0b02;
}
.wp-price-block, .wp-address-block{
    width:100% !important;
    float:none !important;
}
.wp-price-block .table tfoot .mark{
    text-align: justify;
}
.wp-price-block th{
    width:70%;
}
.wp-price-block td{
    width:30%;
}
.wp-price-block .table > tbody > tr > th, .wp-price-block .table > tbody > tr > td{
    border:0;
    font-weight:normal;
    padding:0px 10px 5px 0px;
}
.wp-price-block .table > thead > tr > td{
    padding-left:0px;
}
.address-title-space{
    margin-top:20px;
}
div.scroll {
    margin:4px 4px;
    padding:4px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
.billing-totals .billing-mark{
    font-size: 2.1rem !important;
    font-weight: 400 !important;
}
.billing-totals .price{
    font-size: 2.1rem !important;
    font-weight: 700 !important;
}
.shipping-information{
    border: 0 !important;
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}
.other-information{
    border: 0 !important;
    margin:0 !important;
}
.wp-actions-toolbar{
    padding-top: 25px;
}
.billing-totals{
    padding-bottom:10px;
}
.wp-virtual-block{
    font-size:1.6rem;
}
.block .block-shipping{
    margin-bottom:20px !important;
}
.multicheckout label[for=p_method_worldpay_cc], .multicheckout label[for=p_method_worldpay_wallets], .multicheckout label[for=p_method_worldpay_apm]{
    width:30%;
}
.multicheckout .checkout-payment-method{
    padding:0;
    border:0;
}
.samsungpay-payment{
    background-color: #000;
    box-shadow: none;
    border-radius: 4px;
    padding: 0px 10px;
    width: 90%;
	height: 40px;
}
#wp-samsung-pay-btn a{
    padding-left: 0px;
}
.payment-methods-items-worldpay{
    border: 1px solid #000;
}
.payment-methods-items-worldpay .payment-method-title.field.choice{
    border-top: 1px solid #000;
    border-left: none;
    border-right: none;
}
#payment-methods-worldpay{
    margin-top:26px;
}
.payment-methods-items-worldpay .payment-method._active{
    border:none;
}
.payment-methods-items-default .payment-method._active{
    border-top: none;
    border-bottom: 1px solid #000;
}
.payment-methods-items-default .payment-method._active .payment-method-title{
    border-top:1px solid #000;
    border-left: none;
    border-right: none;
}
.payment-method._active .worldpay_apm-onepage {
    border-bottom:1px solid #000;
}
.other-payment-methods-wrapper h2.step-title {
    margin-bottom: 10px !important;
}
.multishipping #use-customer-balance {
    cursor: pointer;
    margin-left: 35px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px)  { 
    .payment-titlelogo-wrapper {
        display: flex !important;
    }
    .payment-title-wrapper .step-title, .payment-title-wrapper p {
        text-align: left !important;
    }
    .wp-price-block th {
        display:block !important;
        width:80% !important;
    }
    .wp-price-block td{
        width:20% !important;
    }
    .multicheckout .block-billing .box-billing-method {
        padding-left:0px !important;
    }
    .multicheckout .box-billing-method .fieldset .legend.box-title {        
        margin: 0 10px;
    }
    .multicheckout .payment-logo-wrapper {
        padding-top: 12px;
        padding-right: 25px;
    }
	.multicheckout #payment-continue {
        margin-left: 5px;
    }
    .worldpay-multishipping .multicheckout .block-billing .box-billing-method {
        padding-right: 0px !important;
    }
    .multicheckout .block-billing .box-billing-address {
        padding-left: 10px !important;
    }
    .wp-price-block .table > tbody > tr > th, .wp-price-block .table > tbody > tr > td {
        padding: 0px 0px 5px 0px !important;
    }
    .multicheckout .block-billing .box-billing-address {
        padding-top:20px !important;
    }
    .multicheckout .actions-toolbar .secondary {
        text-align:left !important;
    }
    .multicheckout .box-content .checkout-payment-giftcardaccount .note, .multicheckout .box-title span.billing-mark {
        margin-left: 10px !important;      
    }	
    .multicheckout .payment-title-wrapper .step-title {
        padding-left: 10px !important;
    }
    .multicheckout .box-billing-method .fieldset .legend.box-title{
        display:flex !important;
    }
    .multicheckout .payment-title-wrapper {
        text-align: left !important;
    }
    .payment-method-outer-content .wp-payment-method-wallets{
        display: flex;
    }  
    .payment-methods-items-worldpay .actions-toolbar:before, .payment-methods-items-worldpay .actions-toolbar:after {
        content: '';
        display: table;
    }
    .checkout-payment-method .payment-methods-items-worldpay .payment-method-content>.actions-toolbar>.primary .action.primary {
        width: 130px;
    }
    .multicheckout .actions-toolbar .primary {
        float: left;
    }
    .multicheckout .actions-toolbar .secondary .action.back {
        float: none;
    }
    .multicheckout .actions-toolbar>.primary {
        margin-right: 30px;
    }
    .checkout-payment-method .payment-methods-items-worldpay .actions-toolbar>.primary {
        text-align: right;
    }
 }

 #checkout-agreement-error-msg{
    margin-top:10px;
 }

 #checkout-agreement-div{
    margin-bottom:10px;
 }

 #sepa_e_mandate_condition{
    width: 3%;
    float: left;
 }
 .sepa_e-mandate-label{
    width: 94%;
    float: right;
    padding-right: 10px;
 }
 #sepa_e_mandate_condition-error{
    width:100%;
    float:left;
 }
 .checkout-payment-method .payment-method._active .redirect-form {
    margin-top: 0px;
 }
 .redirect-form .fieldset .field {
    margin: 0;
 }
 .payment-method-content.redirect-form .cpf {
    margin: 20px 0;
 }