<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-content">
        <form class="form" data-bind="attr: {'id': getCode() + '-form'}">
            <fieldset
                data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
                <div class="field type required" data-bind="attr: {id: getCode() + '_cc_type_div'}">
                    <!-- ko if: (getSavedCardsCount() > 0)-->
                    <div class="paymentmethods-radio-wrapper">
                        <input type="radio" data-bind="click:onSelectCcard.bind(this),event:{ change: loadEventAction },
                            attr: {'value': 'ONLINE',id: 'redirect_cc_online','data-type':'redirect'}"
                            name="payment[cc_type]"></input>
                        <label data-bind="attr: {for: 'redirect_cc_online'}">
                            <!-- ko i18n: 'New Card'-->
                            <!-- /ko -->
                        </label>
                    </div>
                    <div class="paymentmethods-radio-wrapper">
                        <input type="radio" data-bind="click:onSelectCcard.bind(this),event:{ change: loadEventAction },
                            attr: {'value': 'savedcard',id: 'redirect_cc_savedcard','data-type':'redirect'}"
                            name="payment[cc_type]"></input>
                        <label data-bind="attr: {for: 'redirect_cc_savedcard'}">
                            <!-- ko i18n: 'Saved Cards'-->
                            <!-- /ko -->
                        </label>
                    </div>
                    <!-- /ko -->
                    <div id="cc_type-error" class="mage-error" style="display:none"></div>
                     <!-- ko if: (getSavedCardsCount()<= 0)-->
                        <div class="paymentmethods-radio-wrapper">
                            <input type="radio" checked data-bind="attr: {'value': 'ONLINE',  id:'redirect_cc_gust','data-type':'redirect'}" name="payment[cc_type]">
                        </div>
                     <!-- /ko -->
                </div>
                <div class="mage-error message message-error error" id="multishipping-error" style="display:none"></div>
				<div class="mage-error message message-error error" id="worldpay_cc_multishipping_error" style="display:none"></div>
                <div class="field sacedcard" id="saved-Card-Visibility-Enabled" data-bind="visible: false">
                    <!-- ko if: (getSavedCardsCount() > 0)-->
                    <fieldset class="fieldset payment items ccard worldpay_cc" id="payment_form_worldpay_cc">
                        <hr>
                        <h4>
                            <!-- ko i18n: 'Saved cards'-->
                            <!-- /ko -->
                        </h4>
                        <!-- ko template: 'Sapient_Worldpay/payment/saved-card-form' -->
                        <!-- /ko -->
                    </fieldset>
                    <!-- /ko -->
                </div>
                <!-- ko if: (getSaveCardAllowed() && (isTokenizationEnabled() || isStoredCredentialsEnabled()) )-->
                <div class="field savecc"
                    data-bind="attr: {id: getCode() + '_save-card_div'},visible: isSaveThisCardVisible">
                    <div class="control">
                        <input type="checkbox" class="input-check savecard" name="save-card" data-bind="click: savethiscard,attr: {
                            id: getCode() + '_save_card', title: $t('Save This Card'),
                            'data-container': getCode() + '-save-card'}, value: saveMyCard">
                        <label data-bind="attr: {for: getCode() + 'save-card'}" class="label">
                            <span>
                                <!-- ko i18n: getCheckoutLabels('CO26')-->
                                <!-- /ko -->
                            </span>
                            <!-- ko if: (isStoredCredentialsEnabled() && isDisclaimerMessageEnabled())-->
                            <span>(<a class="checkout-disclaimer" data-bind="i18n: getCheckoutLabels('CO9'), click: disclaimerPopup"></a>)</span>
                            <!-- /ko -->
                        </label>
                    </div>
                </div>
                <!-- /ko -->

                <div id="dialog" style="display: none" align="center" title="Disclaimer!">
                    <form id="disclaimer" name="disclaimer">
                        <div data-bind="html: disclaimerMessage()"></div>
                    </form>
                </div>
                <div class="mage-error" generated="true" id="disclaimer-error"></div>
                <div class="field cpf required" data-bind="visible: (showCPFSection())">
                    <label data-bind="attr: {for: getCode() + '_cpf'},visible: (showCPFSection())" class="label">
                        <span> CPF/CNPJ </span>
                        <!-- <span> ko i18n: 'CPF/CNPJ' /ko </span>-->
                    </label>
                    <div class="control">
                        <input type="number" style="width: 225px;" name="payment[cpf]" class="input-text" value=""
                            data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_cpf',
                                    title: $t('CPF/CNPJ'),
                                    'data-container': getCode() + '-cpf-number',
                                    'data-validate': JSON.stringify({'required-number':true,
                                      'worldpay-validate-cpf-number': true})}, visible: (showCPFSection()) ,
                                    enable: isActive($parents),
                                    value: isCPF,
                                    valueUpdate: 'keyup'"></input>
                    </div>
                </div>
                <div class="field instalment required" data-bind="visible: (showInstalmentSection())">
                    <label data-bind="attr: {for: getCode() + '_instalment'},visible: (showInstalmentSection())"
                        class="label">
                        <span> Instalment </span>
                        <!--           <span> ko i18n: 'Instalment' /ko </span>-->
                    </label>
                    <div class="control" style=" width:225px;align:'center'">

                        <select name="payment[instalment]" class="select select-instalment" data-bind="visible: (showInstalmentSection()),
                                           attr: {id: getCode() + '_instalment',
                                           'data-container': getCode() + '-instalment',
                                           'data-validate': JSON.stringify({required:true})},
                                           enable: isActive($parents),
                                           options: availableInstalTypes(),
                                           optionsValue: 'instalValue',
                                           optionsText: 'instalccLabel',
                                           optionsCaption: $t('Instalment'),
                                           title: $t('Instalment'),
                                           value: selectedInstalment">
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>


        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() -->
        <!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>

        <!-- ko if: (getIntigrationMode() == 'redirect' && getHppIntegrationType() =='iframe') -->
            <!-- HPP IFRAME -->
            <!-- ko template: 'Sapient_Worldpay/payment/hpp-iframe' --><!-- /ko -->
            <!-- HPP IFRAME -->
        <!-- /ko -->

        <!-- ko if: (getIntigrationMode() == 'redirect' && getHppIntegrationType() == 'full_page') -->
            <!-- HPP IFRAME -->
            <!-- ko template: 'Sapient_Worldpay/payment/hpp-iframe' --><!-- /ko -->
            <!-- HPP IFRAME -->
        <!-- /ko -->
    </div>
</div>
