<div class="payment-method2">
    <div class="payment-method-outer-content">
        <div class="wp-payment-method-wallets">
			<!-- ko foreach: getRegion('google-pay-js') -->
				<!-- ko template: getTemplate() --><!-- /ko -->
			<!--/ko-->
			<!-- ko foreach: getRegion('apple-pay-js') -->
				<!-- ko template: getTemplate() --><!-- /ko -->
			<!-- /ko -->
			<!-- ko foreach: getRegion('samsung-pay-js') -->
				<!-- ko template: getTemplate() --><!-- /ko -->
			<!-- /ko -->
		</div>
    </div>
</div>